@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --display-color: #2F3131;
    --clear-button-color: #434445;
    --number-button-color: #646565;
    --operator-button-color: #FF9F0C;
    --border-radius-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    color: white;
}

body {
    height: 100vh;
    background-color: #f8f8ff;
    /* background: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    font-size: 2rem;
    border: 1px solid var(--display-color);
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.calculator > button:active,
.calculator > .is-depressed {
    opacity: 0.8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset; 
}

.display {
    grid-column: -1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    word-break: break-all;
    background-color: var(--display-color);
    padding: 10px;
    border-top-left-radius: var(--border-radius-size);
    border-top-right-radius: var(--border-radius-size);
}

.display-text {
    font-size: 4rem;
    font-weight: 300;
}

.function-btn {
    background-color: var(--clear-button-color);
}

.span-two {
    grid-column: span 2;
}

.operator-btn {
    background-color: var(--operator-button-color);
}

.num-btn {
    background-color: var(--number-button-color);
}

.bor-rad-btm-l  {
    border-bottom-left-radius: var(--border-radius-size);
}

.bor-rad-btm-r {
    border-bottom-right-radius: var(--border-radius-size);
}

.info-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section > p {
    margin-bottom: 20px;
    color: black;
    font-size: 1.3rem;
}

.github-link {
    transition: 0.3s;
}

.github-link:hover {
    filter: invert(30%);
    transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
    :root {
        --border-radius-size: 0px;
    }

    body {
        height: auto;
    }
    
    .calculator {
        min-height: 100vh;
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: minmax(25vw, 1fr) repeat(5, 25vw);
    }

    .display-text {
        font-size: 20vw;
    }

    .info-section {
        display: none;
    }
}
